if pagination
    nav
        ul.pagination
            - var previous = Number(current) - 1;
            li(class="#{previous < 1 ? 'disabled' : ''}")
                a(href="#{previous}", aria-label='Previous')
                    span(aria-hidden='true') &laquo;

            each page in pagination
                - var show = Number(page.replace(/.*\//, ''))
                li(class="#{current === show ? 'active' : ''}")
                    a(href="#{page}") #{show}
            
            - var next = Number(current) + 1;
            li(class="#{next > pagination.length ? 'disabled' : ''}")
                a(href="#{next}", aria-label='Next')
                    span(aria-hidden='true') &raquo;