extends ../layout

block javascripts
    script(src='javascripts/deleteBeer.js')

block content

  .row
    h2.page-header Beers
    a(href='/beer/new') New Beer

  table.table.table-striped
    thead
        tr
            th Name
            th Description
            th Abv
            th
            th
            th
    tbody
        each beer in beers
            tr
                td #{beer.name}
                td #{beer.description}
                td #{beer.abv}
                td
                    a(href="/beer/#{beer._id}")
                        span.glyphicon.glyphicon-eye-open(aria-hidden="true")
                td
                    a(href="/beer/#{beer._id}/edit")
                        span.glyphicon.glyphicon-edit(aria-hidden="true")
                td
                    a.delete(href="#", data-id="#{beer._id}")
                        span.glyphicon.glyphicon-trash(aria-hidden="true")
