extends ../layout

block content

    .row
        h2.page-header Beer - #{beer.name}

    .col-lg-6

        .col-lg-12
            label(class='col-lg-3', for="name") Name
            span(id="name") #{beer.name}

        .col-lg-12
            label(class='col-lg-3', for="description") Description
            span(id="description") #{beer.description}

        .col-lg-12
            label(class='col-lg-3', for="abv") Abv
            span(id="abv") #{beer.abv}

    .col-lg-12

        a.btn.btn-default(href="/beer", role="button") Back
        a.btn.btn-default(href="/beer/#{beer._id}/edit", role="button") Edit
