meta(name='author' content="#{movieshark}")
meta(name='keywords' content='movie,shark,movieshark,download,streaming,movies,tv,shows,free,hd,android,ios,serie,series')
meta(name='description' content="Watch the best movies and series in #{movieshark} instantly in HD, direct browser, with subtitles for free! Available for all devices with internet access.")

meta(property='og:site_name' content="#{movieshark}")
meta(property='og:type' content='website')
meta(property='og:url' content="#{moviesharkurl}")
meta(property='og:title' content="#{movieshark}")
meta(property='og:description' content="Watch the best movies and series in #{movieshark} instantly in HD, direct browser, with subtitles for free! Available for all devices with internet access.")
meta(property='og:image' content="#{moviesharkurl}/img/movieshark.jpg")
meta(property="og:image:type" content="image/jpeg")
meta(property="og:image:width" content="800")
meta(property="og:image:height" content="600")