meta(property='og:site_name' content="#{title}")
meta(property='og:type' content='website')
meta(property='og:url' content="#{urlHeroku}#{url}")
meta(property='og:title' content="#{title}")
meta(property='og:description' content="#{synopsis}")
meta(property='og:image' content="#{poster}")