meta(name='author' content="#{movieshark}")
meta(name='keywords' content='movie,shark,movieshark,download,streaming,movies,tv,shows,free,hd,android,ios,serie,series')
meta(name='description' content="Watch the best movies and series in #{movieshark} instantly in HD, direct browser, with subtitles for free! Available for all devices with internet access.")

- var urlHeroku = 'https://movieshark-app.herokuapp.com'
meta(property='og:site_name' content="#{movieshark}")
meta(property='og:type' content='website')
meta(property='og:url' content="#{urlHeroku}#{url}")
meta(property='og:title' content="#{movieshark} - #{title}")
meta(property='og:description' content="#{synopsis}")
meta(property='og:image' content="#{poster}")