extends ../layout

block stylesheets
    link(rel='stylesheet', href='/bower_components/videojs/dist/video-js/video-js.css')
    link(rel='stylesheet', href='/stylesheets/stream.css')
    link(rel='stylesheet', href='/stylesheets/movie.css')

block javascripts
    script(src='/bower_components/webtorrent-io/webtorrent.min.js')
    script(src='/bower_components/videojs/dist/video-js/video.js')
    script(type='text/javascript').
        videojs.options.flash.swf = 'video-js.swf';
        videojs('video');

block content
    .row
        .page-header
            h1 #{title}
                include ../includes/rating
            p #{synopsis}
        .col-md-12
            video#video.video-js.vjs-default-skin(controls='', preload='none', width='auto', height='300', poster='#{poster}')
                source(src="/stream?#{magnet}" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"')
                source(src="/stream?#{magnet}" type='video/webm; codecs="vp8.0, vorbis"')
                source(src="/stream?#{magnet}" type='video/ogg; codecs="theora, vorbis"')
                p.vjs-no-js
                    | To view this video please enable JavaScript, and consider upgrading to a web browser that
                    a(href='http://videojs.com/html5-video-support/', target='_blank') supports HTML5 video
    
    .row
        section.col-md-12.comments
            !{comments.count} comments 
            each comment in comments.list
                article.comment
                    header
                        div.comment__img
                            img(src="#{comment.small_user_avatar_image}")
                        div.comment__media
                            span.comment__username #{comment.username}
                            span.comment__date
                                strong Posted
                                !{moment(comment.date_added).fromNow()}
                    p.comment__body !{comment.comment_text}
                hr