extends ../layouts/layout

block stylesheets
    link(rel='stylesheet', href='/bower_components/videojs/dist/video-js/video-js.css')
    link(rel='stylesheet', href='/stylesheets/stream.css')
    link(rel='stylesheet', href='/stylesheets/movie.css')

block javascripts
    script(src='/bower_components/videojs/dist/video-js/video.js')
    script(type='text/javascript').
        videojs.options.flash.swf = 'video-js.swf';
        videojs('video');

block content
    .row
        .page-header
            h1 #{title}
                include ../includes/rating
                include ../includes/torrent_ratio
            p #{synopsis}
        .col-md-12
            include ../includes/video
    
    .row
        section.col-md-6.comments
            h3 #{comments.count} comments
            each comment in comments.list
                article.comment
                    header
                        div.comment__img
                            img(src="#{comment.small_user_avatar_image}")
                        div.comment__media
                            span.comment__username #{comment.username}
                            span.comment__date
                                strong Posted
                                !{moment(comment.date_added).fromNow()}
                    p.comment__body !{comment.comment_text}
                hr
        section.col-md-6.suggestions
            h3 Related movies
            each suggestion, index in suggestions
                if index % 2 == 0
                    hr.col-md-12
                .col-md-6
                    a(href="/movie/#{suggestion.id}")
                        img.img-responsive(src='#{suggestion.medium_cover_image}', alt='#{suggestion.title}')