extends ../layouts/default

block stylesheets
    link(rel='stylesheet', href='/stylesheets/tos.css')

block content
    .container
        a.logo(href='/')
            img(src='/img/movieshark.png' alt='Movieshark')
            h1.movieshark.movieshark--blue #{movieshark}

        h1 Terms of service

        h3 Your Acceptance

        p By using the "#{movieshark}" app you signify your agreement to these terms and conditions (the “Terms of Service”).

        h3 Privacy Policy.

        p You understand that by using "#{movieshark}" you may encounter material that you may deem to be offensive, indecent, or objectionable, and that such content may or may not be identified as having explicit material. "#{movieshark}" will have no liability to you for such material – you agree that your use of "#{movieshark}" is at your sole risk.

        h3 Disclaims

        p You expressly agree that your use of "#{movieshark}" is at your sole risk. "#{movieshark}" and all products are provided to you "as is" without warranties of any kind, either express or implied. "#{movieshark}" makes absolutely no warranties whatsoever, express or implied. To the fullest extent possible under applicable laws, YIFY disclaims all warranties, expressed or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement, or other violations of rights.

        h3 Limitation of Liability

        p "#{movieshark}" is not responsible for any problems or technical malfunction of any website, network, computer systems, servers, providers, computer equipment, or software, or for any failure due to technical problems or traffic congestion on the internet or "#{movieshark}" or combination thereof, including any indury or damage to users or to any computer or other device on or through which "#{movieshark}" is provided. Under no circumstances will "#{movieshark}" be liable for any loss or damage, including personal injury or death, resulting from your use of "#{movieshark}".

        h3 Source Material

        p All movies are not hosted in any server and are streamed using the P2P Bit Torrent Protocol. All movies are pulled in from the YIFY movie database. By watching a movie with this application you might be commiting copyright violations depending on your country's laws. We do not take any responsibilities.

        h3 Ability to Accept Terms of Service

        p By using "#{movieshark}" or accessing this site you affirm that you are either more than 18 years of age, or an emancipated minor, or possess legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms of Service, and to abide by and comply with these Terms of Service. In any case, you affirm that you are over the age of 13, as the Service is not intended for children under 13. If you are under 13 years of age, then please do not use the Service. There are lots of other great web sites for you. Talk to your parents about what sites are appropriate for you.